.headerContainer {
  margin: 36px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header {
    display: flex;
    .title {
      margin-right: 5px;
margin-top: 10px;
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;

    }
  }
}
