$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.inputField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  font-size: 16px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.error {
  border-bottom: 1px solid red;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  opacity: 50%;
  z-index: -1;
}

.inputField:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 500;
  }

  padding-bottom: 6px;
  font-weight: 500;
  border-width: 2px;
}


.errorMessageBox {
  position: relative;
  display: flex;
  justify-content: center;

  .errorMessage {
    color: red;
    position: absolute;
  }
}

/* reset input */
//.form__field{
//  &:required,&:invalid { box-shadow:none; }
//}
