.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .form {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 528px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .button {
      position: absolute;
      width: 200px;
      top: 2rem;
      left: -16rem;
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
    }
    .name {
      height: 20px;
      padding: 10px;
    }

    .email {
      padding: 10px;
      height: 20px;
    }
  }
}