.inputContainer{
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 10px;
  .icon:hover {
    color: #366EFF;
  }
}
.textContainer {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  .icon:hover {
    color: #366EFF;
  }
}

