.paperContainer {
    text-align: center;
    .title {
        margin-top: 35px;
        font-family: Montserrat, sans-serif;
        font-size: 26px;
        font-weight: 600;
        font-style: normal;
        line-height: 32px;
        color: #000;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 33px;
        .rememberMe {
            align-self: flex-start;
            margin-top: 24px;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            line-height: 17px;
            color: #000;
            text-align: center;
        }
        .forgot {
            align-self: flex-end;
            margin-top: 29px;
            margin-right: 5px;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            line-height: 17px;
            color: #000;
            text-align: center;
            text-decoration: none;
        }
    }
    .already {
        margin-top: 31px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        color: #000;
        text-align: center;
        opacity: 0.5;
    }
    .singUp {
        margin-top: 11px;
        margin-bottom: 42px;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        color: #366EFF;
        text-align: center;
        text-decoration-line: underline;

    }
}

